Flask
borsh
python-telegram-bot==13.15
flask-cors
requests
beautifulsoup4
feedparser
schedule
openai
loguru
gunicorn
python-dotenv
playwright
pydub
py-near
base58
ed25519
httpx
py-near-primitives
pydantic