<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Podcast Platform{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dca.css') }}">
    <link href="https://unpkg.com/@near-wallet-selector/modal-ui/styles.css" rel="stylesheet" />
    {% block styles %}{% endblock %}
</head>
<body class="light-theme">
    {% include 'nav.html' %}
    
    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    
    <div id="main-container" class="main-container">
        <main>
            {% block content %}
            <!-- Content from child templates will be injected here -->
            {% endblock %}
        </main>
    </div>
    
    <!-- NEAR Wallet Dependencies -->
    <script src="https://unpkg.com/@near-wallet-selector/core@8.1.4/dist/wallet-selector-core.js"></script>
    <script src="https://unpkg.com/@near-wallet-selector/modal-ui@8.1.4/dist/wallet-selector-modal-ui.js"></script>
    <script src="https://unpkg.com/@near-wallet-selector/near-wallet@8.1.4/dist/near-wallet.js"></script>
    <script src="https://unpkg.com/@near-wallet-selector/my-near-wallet@8.1.4/dist/my-near-wallet.js"></script>
    <script src="https://unpkg.com/@near-wallet-selector/sender@8.1.4/dist/sender.js"></script>
    
    <!-- Global Scripts -->
    <script src="{{ url_for('static', filename='js/audioPlayer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/near-wallet.js') }}"></script>
    {% block scripts %}
    <!-- Page-specific scripts will be injected here -->
    {% endblock %}
</body>
</html>
