{% extends "base.html" %}

{% block title %}Latest News{% endblock %}

{% block content %}
    <div id="loading-spinner" class="hidden">Loading...</div>
    <div id="news-container"></div>
    <p id="audio-status"></p>
    <p id="update-time"></p>

    <div id="main-area">
        <div id="button-container">
            <button id="refresh-btn">Refresh</button>
            <button id="fetch-new-stories-btn">Fetch New Stories</button>
        </div>
        <h1>Most Recent Podcast</h1>
        <div id="recent-podcast">
            <!-- Content for the most recent podcast will be loaded here -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
