{% extends 'base.html' %}

{% block title %}Podcasts - Podcast Platform{% endblock %}

{% block content %}
<div id="loading-spinner" class="hidden">Loading...</div>

<div id="main-area" class="main podcast-group">
    <h1>Most Recent Podcast</h1>
    <div id="recent-podcast">
        <div class="card">
            <div id="articles-list">
                <!-- Articles will be loaded here -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/podcasts.js') }}"></script>
{% endblock %}
